.preset-color-combination {
    width: 50px;
    height: 50px;
    border: 2px solid var(--background);
    background: var(--background-2);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    & > div {
        height: 100%;
    }
}