@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'JetBrains Mono NL';
    src: url("../fonts/JetBrainsMonoNL_Regular.ttf");
    font-weight: normal;
}

:root {
    background-color: #151515;
    --accent-color: #CAE6FF;

    /* Text */
    --text: #f5faff;
    --text-1: #95989c;
    --text-2: #737577;

    /* Fonts */
    --header-font: "Cherry Bomb One";
    --default-font: "Sour Gummy";

    /* Backgrounds */
    --background: #151515;
    --background-1: #1C1C1C;
    --background-2: #2C2C2C;

    /* Lighten by 20% */
    --background-hover: #474747;
    --background-1-hover: #4f4f4f;
    --background-2-hover: #4f4f4f;

    --red: #C90D0D;
    --green: #0DC93F;
}

.lucide {
    transition: 0.3s ease all;
}

button:hover > .lucide {
    stroke: var(--accent-color);
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 75px;
    padding: 50px 20px 25px 20px;
    margin-bottom: 25px;
}

h1 {
    color: white;
    font-family: var(--header-font), system-ui;
    font-size: 5rem;
    text-align: center;
}

h2 {
    color: var(--accent-color);
    font-family: var(--default-font), system-ui;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: underline;
    margin-bottom: 5px;
}

h3 {
    color: var(--accent-color);
    font-family: var(--default-font), system-ui;
    font-weight: bold;
    font-size: 1.5rem;
}

label {
    color: var(--text);
    font-family: var(--default-font), system-ui;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
}

li {
    list-style: inside;
    color: var(--text-2);
}

ul > li > ul {
    padding-left: 20px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 5px;
    margin-top: auto;

    & a {
        transition: 0.3s ease all;
        color: var(--text-2);
        font-family: "JetBrains Mono NL";
        font-size: 1.5rem;
    }

    & a:hover {
        color: var(--accent-color);
    }

    & .lucide {
        transition: 0.3s ease all;
    }

    & .lucide:hover {
        stroke: var(--accent-color);
    }
}

section {
    position: relative;
    padding: 40px 20px;
    background-color: var(--background-1);
    border-radius: 15px;
    height: fit-content;
}

section[data-title]::before {
    content: attr(data-title);
    font-family: var(--default-font), system-ui;
    font-weight: bolder;
    font-size: 30px;
    position: absolute;
    top: -20px;
    left: 20px;
    padding: 8px 12px;
    line-height: 30px;
    border-radius: 10px;
    background-color: var(--background-2);
    color: var(--accent-color);
}

@media (max-width: 1200px) {
    section {
        width: 90%;
    }
}

.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
}

.modal-container {
    background-color: var(--background-1);
    padding: 20px;
    border-radius: 10px;
    color: var(--text);
}

.pointer {
    cursor: pointer;
}

.icon-button {
    background: var(--background-2);
    border: 2px solid var(--background);
    border-radius: 15px;
}