#preview {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 150px;
}

#canvas-container {
    overflow: auto;
}

#download-button {
    opacity: 50%;
    transition: 0.3s ease all;
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: var(--background-2);
    border: none;
    padding: 7px;
    border-radius: 10px;
}

#download-button:hover {
    background-color: var(--background-2-hover);
    opacity: 100%;
}