#editing-modal-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: max(45%, 700px);
    height: 50%;
}

#editing-custom-save-button {
    opacity: 50%;
    position: absolute;
    bottom: 35px;
    right: 35px;
    background-color: var(--background-1);
    border: none;
    padding: 7px;
    border-radius: 10px;
    transition: 0.2s ease all;
    &:hover {
        opacity: 100%;
        background-color: var(--background-1-hover);
    }
}

#editing-custom-textarea {
    background: var(--background-2);
    width: 100%;
    height: 100%;
    border: 2px solid var(--background);
    border-radius: 5px;
    font-family: "JetBrains Mono NL", monospace;
    color: var(--text);
    padding: 10px;
    resize: none;

    &:focus {
        border: 2px solid var(--background);
        outline: none;
    }
}