#customization input[type=color] {
    height: 50px;
    width: 50px;
    border: 2px solid var(--background);
    border-radius: 10px;
    appearance: none;
}

#customization input[type="checkbox"] {
    height: 35px;
    width: 35px;
    border: 2px solid var(--background);
    border-radius: 10px;
}

#add-color {
    height: 50px;
    width: 50px;
    border: 2px solid var(--background);
    border-radius: 10px;
    background: var(--background-2);
}

#customization {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20%;
}

.settings-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

#customization-colors-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

#preset-combinations {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#presets > h2 {
    display: flex;
    gap: 5px;
    align-items: center;
    width: fit-content;
}

.customization-settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.settings-variants {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    flex-wrap: wrap;
}

#edit-custom-button {
    background: none;
    border: none;
    padding: 4px;
}

#customization-category-nav {
    position: absolute;
    left: -48px;
    top: 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    & > li {
        width: fit-content;
        background: var(--background-1);
        padding: 8px;
        border-radius: 12px 0 0 12px;
        list-style: none;
        transition: .2s ease background;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            background: var(--background-2);
        }
    }
}

@media (max-width: 1200px) {
    #customization {
        width: 90%;
    }
}