#customization input[type=color] {
    height: 50px;
    width: 50px;
    border: 2px solid var(--background);
    border-radius: 10px;
    appearance: none;
}

#customization input[type="checkbox"] {
    height: 35px;
    width: 35px;
    border: 2px solid var(--background);
    border-radius: 10px;
}

#add-color {
    height: 50px;
    width: 50px;
    border: 2px solid var(--background);
    border-radius: 10px;
    background: var(--background-2);
}

#customization {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20%;
    height: 50%;
}

.settings-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

#customization-colors-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

#preset-combinations {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* To get rid of the weird border around the color in color input */
#customization input[type="color"]::-moz-color-swatch {
  border: none;
}

#customization input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 0;
}

#customization input[type="color"]::-webkit-color-swatch {
  border: none;
}