.checkbox {
    width: 35px;
    height: 35px;
    background-color: var(--background-2);
    border: 2px solid var(--background);
    border-radius: 10px;
}

.checkbox[data-checked=true] {
    background-color: var(--green);
}