@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Modak&display=swap');

:root {
    background-color: #151515;
    --accent-color: #CAE6FF;
    --background: #151515;
    --background-1: #1C1C1C;
    --background-2: #2C2C2C;

    --red: #C90D0D;
    --green: #0DC93F;
}

label {
    color: white;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 75px;
    padding: 50px 20px 25px 20px;
}

h1 {
    color: white;
    font-family: "Cherry Bomb One", system-ui;
    font-size: 5rem;
}

h2 {
    color: var(--accent-color);
    font-family: "Modak", system-ui;
    font-weight: lighter;
    font-size: 2rem;
    text-decoration: underline;
}

label {
    color: var(--accent-color);
    font-family: "Modak", system-ui;
    font-weight: lighter;
    font-size: 2rem;
    line-height: 2rem;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

section {
    position: relative;
    padding: 40px 20px;
    background-color: var(--background-1);
    border-radius: 15px;
}

section[data-title]::before {
    content: attr(data-title);
    font-family: "Modak", system-ui;
    font-size: 30px;
    position: absolute;
    top: -20px;
    left: 20px;
    padding: 8px 12px;
    line-height: 30px;
    border-radius: 10px;
    background-color: var(--background-2);
    color: var(--accent-color);
}

.pointer {
    cursor: pointer;
}