@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Modak&display=swap');

@font-face {
    font-family: "JetBrain Mono NL";
    src: local("JetBrains Mono");
    font-variant-ligatures: none;
}

:root {
    background-color: #151515;
    --accent-color: #CAE6FF;

    /* Text */
    --text: #f5faff;

    /* Backgrounds */
    --background: #151515;
    --background-1: #1C1C1C;
    --background-2: #2C2C2C;

    /* Lighten by 20% */
    --background-hover: #474747;
    --background-1-hover: #4f4f4f;
    --background-2-hover: #4f4f4f;

    --red: #C90D0D;
    --green: #0DC93F;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 75px;
    padding: 50px 20px 25px 20px;
}

h1 {
    color: white;
    font-family: "Cherry Bomb One", system-ui;
    font-size: 5rem;
    text-align: center;
}

h2 {
    color: var(--accent-color);
    font-family: "Modak", system-ui;
    font-weight: lighter;
    font-size: 2rem;
    text-decoration: underline;
}

label {
    color: var(--text);
    font-family: "Modak", system-ui;
    font-weight: lighter;
    font-size: 2rem;
    line-height: 2rem;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

section {
    position: relative;
    padding: 40px 20px;
    background-color: var(--background-1);
    border-radius: 15px;
    height: fit-content;
}

section[data-title]::before {
    content: attr(data-title);
    font-family: "Modak", system-ui;
    font-size: 30px;
    position: absolute;
    top: -20px;
    left: 20px;
    padding: 8px 12px;
    line-height: 30px;
    border-radius: 10px;
    background-color: var(--background-2);
    color: var(--accent-color);
}

@media (max-width: 1200px) {
    section {
        width: 90%;
    }
}

.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.modal-container {
    background-color: var(--background-1);
    padding: 20px;
    border-radius: 10px;
    color: var(--text);
}